.product-management-container {
  padding: 20px;
}

.user-management-title {
  font-size: 24px;
}

.user-text {
  color: green;
}

.management-text {
  color: black;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-list button {
  margin-left: 10px;
}

.add-product, .edit-product {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #218838;
}